# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries after builds
hercules
server

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code
.vscode

# Data files

# Generate using course_rooms.py
data/courses_details.json

# Generate with faculty_directory.py
data/faculty_directory.json