body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

td {
    padding: 10px;
}

.code {
    background-color: #eeeeee;
    color: rgb(0, 102, 255);
    padding: 5px;
    border-radius: 5px;
}

.card {
    box-shadow: 8px 8px 5px -8px rgba(0,0,0,0.5);
    border: 1px solid rgba(0, 0, 0, 0.425);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 40%;
}